<!DOCTYPE html>
<html>
<head>
<title>Remote Test</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
	function fetchData(dataHandlerFunc) {
		$.ajax({
			type: "GET",
			url: "/threats/data"
		}).done(dataHandlerFunc)
		.fail(function() {
			alert("Fail to load data");
		});
	}

	function dataHandler(data) {
		$("#threats_table").DataTable({
			data: data,
			columns: [
				{
					"data": "date",
					"title": "Date",
					"className": "dt-center"
				},
				{
					"data": "filename",
					"title": "File Name",
					"className": "dt-center"
				},
				{
					"data": "action",
					"title": "Action",
					"className": "dt-center"
				},
				{
					"data": "submit-type",
					"title": "Submit Type",
					"className": "dt-center"
				},
				{
					"data": "rating",
					"title": "Rating",
					"className": "dt-center"
				}
			],
			createdRow: function(row, data, dataIndex) {
				var risk = data["rating"].toLowerCase();
				var color = 'white';
				switch (risk) {
					case 'malicious':
						color = 'red';
						break;
					case 'high-risk':
						color = 'orange';
						break;
					case 'medium-risk':
						color = 'yellow';
						break;
					case 'low-risk':
						color = 'lightyellow';
						break;
				}
				$(row).css('background-color', color);
			}
		});
	}

	$(document).ready(function() {
		fetchData(dataHandler);
	});
</script>
</head>
<body>

<table id="threats_table"></table>

</body>
</html>